In [1]:
import os
import pandas as pd

In [2]:
DATA_DIR = ""

In [3]:
data = pd.read_csv('states/AP/population.csv')

In [4]:
data.head()

,S.No,District,Headquarters,Revenue Divisions,Mandals,Population,Area,Density
0,1,Anantapur,Anantapur,5,63,4083315,19130,213
1,2,Chittoor,Chittoor,3,66,4170468,15152,275
2,3,East Godavari,Kakinada,7,64,5151549,10807,477
3,4,Guntur,Guntur,4,57,4889230,11391,429
4,5,YSR Kadapa district,Kadapa,3,50,2884524,15359,188

In [7]:
data_dict = data.to_dict()

In [8]:
data_dict.keys()

dict_keys(['S.No', 'District', 'Headquarters', 'Revenue Divisions', 'Mandals', 'Population', 'Area', 'Density'])

In [10]:
data_dict['District'][0]

'Anantapur'

In [24]:
def state_data():
    data = pd.read_csv('state_population.csv')
    data_dict = data.to_dict()
    content = []
    for i in range(len(data)):
        rec = {}
        rec['Sr.No.'] = i+1
        rec['State'] = data_dict['State'][i]
        rec['Districts'] = data_dict['Districts'][i]
        rec['Population'] = data_dict['Population'][i]
        content.append(rec)
    return content

In [27]:
cont = state_data()

In [28]:
cont[0]

{'Sr.No.': 1,
 'State': 'Andhra Pradesh',
 'Districts': 13,
 'Population': 49386799}

In [5]:
def state_data(state_code):
    if state_code == None:
        print("ERROR: State Code is MISSING!!!")
    data_file = os.path.join(DATA_DIR, 'states', state_code, 'population.csv')
    df = pd.read_csv(data_file)
    data_dict = df.to_dict()
    content = []
    for i in range(len(df)):
        rec = {}
        rec['ID'] = i + 1
        rec['District'] = data_dict['District'][i]
        rec['Area'] =   data_dict['Area'][i]
        rec['Population'] = data_dict['Population'][i]
        rec ['Density'] = data_dict['Density'][i]
        content.append(rec)
    return content

In [7]:
res = state_data('AP')

In [9]:
res[0]

{'ID': 1,
 'District': 'Anantapur',
 'Area': 19130,
 'Population': 4083315,
 'Density': 213}

In [22]:
def state_data(state_code):
    if state_code == None:
        print("ERROR: State Code is MISSING!!!")
    data_file = os.path.join(DATA_DIR, 'states', state_code, 'population.csv')
    df = pd.read_csv(data_file)
    data_dict = df.to_dict()
    content = []
    for i in range(len(df)):
        rec = {}
        rec['ID'] = i + 1
        rec['District'] = data_dict['District'][i]
        rec['Area'] =   data_dict['Area'][i]
        rec['Population'] = data_dict['Population'][i]
        rec ['Density'] = data_dict['Density']
        content.append(rec)
    return content

In [29]:
data = state_data('AP')

In [31]:
data[2]

{'ID': 3,
 'District': 'East Godavari',
 'Area': 10807,
 'Population': 5151549,
 'Density': {0: 213,
  1: 275,
  2: 477,
  3: 429,
  4: 188,
  5: 519,
  6: 229,
  7: 227,
  8: 193,
  9: 462,
  10: 340,
  11: 384,
  12: 490}}

In [34]:
data_file = os.path.join(DATA_DIR, 'states', 'AP', 'population.csv')
df = pd.read_csv(data_file)

In [35]:
df

,S.No,District,Headquarters,Revenue Divisions,Mandals,Population,Area,Density
0,1,Anantapur,Anantapur,5,63,4083315,19130,213
1,2,Chittoor,Chittoor,3,66,4170468,15152,275
2,3,East Godavari,Kakinada,7,64,5151549,10807,477
3,4,Guntur,Guntur,4,57,4889230,11391,429
4,5,YSR Kadapa district,Kadapa,3,50,2884524,15359,188
5,6,Krishna,Machilipatnam,4,50,4529009,8727,519
6,7,Kurnool,Kurnool,3,54,4046601,17658,229
7,8,Nellore,Nellore,5,56,2966082,13076,227
8,9,Prakasam,Ongole,3,56,3392764,17626,193
9,10,Srikakulam,Srikakulam,3,37,2699471,5837,462
10,11,Visakhapatnam,Visakhapatnam,4,46,4288113,11161,340
11,12,Vizianagaram,Vizianagaram,2,34,2342868,6539,384
12,13,West Godavari,Eluru,4,46,3934782,7742,490

In [37]:
data_dict = df.to_dict()
content = []

In [39]:
data_dict.keys()

dict_keys(['S.No', 'District', 'Headquarters', 'Revenue Divisions', 'Mandals', 'Population', 'Area', 'Density'])

In [47]:
data_dict['Density']

{0: 213,
 1: 275,
 2: 477,
 3: 429,
 4: 188,
 5: 519,
 6: 229,
 7: 227,
 8: 193,
 9: 462,
 10: 340,
 11: 384,
 12: 490}